Repository 2018swecapstone/h2ms, pull requests merged in 2018-05, with the labels that each got.

#100 Frontend location CRUD ops
  frontend/package-lock.json
  frontend/src/app/api-utils.ts
  frontend/src/app/api/locationEntity.service.ts
  frontend/src/app/app-routing.module.ts
  frontend/src/app/app.module.ts
  frontend/src/app/config/local-h2ms-config.ts
  frontend/src/app/forms-common/form-controls.ts
  frontend/src/app/location-edit/location-edit.component.css
  frontend/src/app/location-edit/location-edit.component.html
  frontend/src/app/location-edit/location-edit.component.ts
  frontend/src/app/location/get-parent-locations.ts
  frontend/src/app/location/location.component.css
  frontend/src/app/location/location.component.html
  frontend/src/app/location/location.component.ts
  frontend/src/app/model/location.ts
  frontend/src/app/select-location/select-location.component.css
  frontend/src/app/select-location/select-location.component.html
  frontend/src/app/select-location/select-location.component.ts
  pom.xml
  src/main/java/edu/harvard/h2ms/domain/core/Location.java
  src/main/java/edu/harvard/h2ms/seeders/LocationSeeder.java
Labels: Frontend, Integration

#112 Frontend login routing patch
  frontend/src/app/app-routing.module.ts
  frontend/src/app/app.component.ts
  frontend/src/app/app.module.ts
  frontend/src/app/auth/auth.service.ts
  frontend/src/app/auth/guards/admin-guard.service.ts
  frontend/src/app/auth/guards/event-guard.service.ts
  frontend/src/app/error/error-guard.service.ts
  frontend/src/app/error/error.component.html
  frontend/src/app/error/error.component.ts
  frontend/src/app/error/error.service.ts
  frontend/src/app/export/export.component.html
  frontend/src/app/login/login-failure-dialog.html
  frontend/src/app/login/login.component.ts
  frontend/src/app/not-found/not-found.component.ts
  frontend/src/app/reports/reports.service.ts
  frontend/src/app/user/service/user-email.service.ts
  frontend/src/app/user/service/users-by-email-resolver.service.ts
Labels: Frontend, Patch

#111 Compliance violation report notification with configurable threshold
  src/main/java/edu/harvard/h2ms/domain/core/Notification.java
  src/main/java/edu/harvard/h2ms/service/report/AbstractReportWorkerComplianceTrend.java
  src/main/java/edu/harvard/h2ms/service/report/AbstractReportWorkerComplianceWarning.java
  src/main/java/edu/harvard/h2ms/service/report/NotificationServiceImpl.java
  src/main/java/edu/harvard/h2ms/service/report/ReportService.java
  src/main/java/edu/harvard/h2ms/service/report/ReportServiceImpl.java
  src/main/java/edu/harvard/h2ms/service/report/ReportWorker.java
  src/main/java/edu/harvard/h2ms/service/report/ReportWorkerEventDump.java
  src/test/java/edu/harvard/h2ms/controllers/NotificationControllerTests.java
Labels: Backend
