Repository 2018swecapstone/h2ms, pull requests merged in 2018-04, with the labels that each got.

#54 frontend login config
  frontend/src/app/app-routing.module.ts
  frontend/src/app/app.component.html
  frontend/src/app/app.component.ts
  frontend/src/app/app.module.ts
  frontend/src/app/auth/auth-guard.service.ts
  frontend/src/app/auth/auth.service.ts
  frontend/src/app/auth/oauth.ts
  frontend/src/app/auth/token-interceptor.service.ts
  frontend/src/app/config/config.service.ts
  frontend/src/app/config/config.ts
  frontend/src/app/config/gloves-config.ts
  frontend/src/app/config/h2ms-config.ts
  frontend/src/app/gloves-config.ts
  frontend/src/app/h2ms-config.ts
  frontend/src/app/login/login.component.html
  frontend/src/app/login/login.component.ts
  frontend/src/app/privacy/privacy.component.ts
  frontend/src/app/sidenav/nav-item.ts
  frontend/src/app/sidenav/sidenav.component.ts
  frontend/src/assets/images/logos/gloves-logo.png
  frontend/src/assets/images/logos/h2ms-logo.png
Labels: Frontend

#57 frontend live site backend port number in config
  frontend/src/app/auth/auth.service.ts
  frontend/src/app/config/config.service.ts
  frontend/src/app/config/config.ts
  frontend/src/app/config/gloves-config.ts
  frontend/src/app/config/h2ms-config.ts
Labels: Frontend

#58 Frontend-reports-config
  frontend/src/app/config/config.ts
  frontend/src/app/reports/reports.component.ts
  frontend/src/app/reports/reports.service.ts
Labels: Frontend

#61 Frontend event popup and color theming
  frontend/src/app/app.module.ts
  frontend/src/app/dynamic-form-question/dynamic-form-question.component.html
  frontend/src/app/dynamic-form/dynamic-form.component.html
  frontend/src/app/dynamic-form/dynamic-form.component.ts
  frontend/src/app/dynamic-form/form-submission-dialog.html
  frontend/src/app/event/event.component.css
  frontend/src/app/event/event.component.html
Labels: Frontend

#62 Frontend event page Angular Material drop downs
  frontend/src/app/dynamic-form-question/dynamic-form-question.component.html
  frontend/src/app/dynamic-form/dynamic-form.component.html
Labels: Frontend

#80 Frontend auth refresh
  frontend/src/app/auth/auth.service.ts
  frontend/src/app/auth/token-interceptor.service.ts
  frontend/src/app/login/login.component.html
  frontend/src/app/reports/reports.service.ts
  src/main/java/edu/harvard/h2ms/config/OAuth2Config.java
Labels: Frontend

#74 Fixed csv export on the frontend to actually work.
  frontend/src/app/export/export.component.ts
Labels: Frontend

#73 DI of BASE_PATH and Update API calls to give preference to configuration files.
  frontend/src/app/api/basicErrorController.service.ts
  frontend/src/app/api/eventController.service.ts
  frontend/src/app/api/eventEntity.service.ts
  frontend/src/app/api/eventTemplateEntity.service.ts
  frontend/src/app/api/locationEntity.service.ts
  frontend/src/app/api/profileController.service.ts
  frontend/src/app/api/questionEntity.service.ts
  frontend/src/app/api/readerEntity.service.ts
  frontend/src/app/api/roleEntity.service.ts
  frontend/src/app/api/userEntity.service.ts
  frontend/src/app/api/wristBandEntity.service.ts
  frontend/src/app/app.module.ts
  frontend/src/app/auth/auth.service.ts
  frontend/src/app/dynamic-form/dynamic-form.component.ts
  frontend/src/app/export/export.component.ts
  frontend/src/app/reports/reports.component.ts
Labels: Frontend

#88 Event submit current user
  frontend/package-lock.json
  frontend/src/app/api/userEntity.service.ts
  frontend/src/app/app-routing.module.ts
  frontend/src/app/dynamic-form/dynamic-form.component.ts
  frontend/src/app/event/event.component.ts
  frontend/src/app/model/link.ts
  frontend/src/app/model/resourceUser.ts
  frontend/src/app/model/resourcesUser.ts
  frontend/src/app/model/user.ts
  frontend/src/app/user/service/user-by-email-resolver.service.ts
  frontend/src/app/user/service/user-email.service.ts
  frontend/src/app/user/service/users-resolver.service.ts
Labels: Frontend, Integration

#82 Expose ID's for everything
  src/main/java/edu/harvard/h2ms/config/RestConfig.java
Labels: Backend

#89 User notification backend
  .gitignore
  pom.xml
  src/main/java/edu/harvard/h2ms/H2MSRestAppInitializer.java
  src/main/java/edu/harvard/h2ms/config/OAuth2Config.java
  src/main/java/edu/harvard/h2ms/domain/core/Notification.java
  src/main/java/edu/harvard/h2ms/domain/core/User.java
  src/main/java/edu/harvard/h2ms/repository/NotificationRepository.java
  src/main/java/edu/harvard/h2ms/service/NotificationServiceImpl.java
  src/main/java/edu/harvard/h2ms/service/UserServiceImpl.java
  src/main/java/edu/harvard/h2ms/web/controller/NotificationController.java
  src/test/java/edu/harvard/h2ms/controllers/NotificationControllerTests.java
  src/test/java/edu/harvard/h2ms/service/NotificationServiceTest.java
Labels: Backend

#90 Controller Based Access Control
  src/main/java/edu/harvard/h2ms/domain/core/Role.java
  src/main/java/edu/harvard/h2ms/domain/core/User.java
  src/main/java/edu/harvard/h2ms/repository/LocationRepository.java
  src/main/java/edu/harvard/h2ms/repository/RoleRepository.java
  src/main/java/edu/harvard/h2ms/seeders/RoleSeeder.java
  src/main/java/edu/harvard/h2ms/service/EventService.java
  src/main/java/edu/harvard/h2ms/service/EventServiceImpl.java
  src/main/java/edu/harvard/h2ms/service/RoleService.java
  src/main/java/edu/harvard/h2ms/service/RoleServiceImpl.java
  src/main/java/edu/harvard/h2ms/service/UserService.java
  src/main/java/edu/harvard/h2ms/service/UserServiceImpl.java
  src/main/java/edu/harvard/h2ms/web/controller/EventController.java
  src/main/java/edu/harvard/h2ms/web/controller/PasswordController.java
  src/main/java/edu/harvard/h2ms/web/controller/RoleController.java
  src/main/java/edu/harvard/h2ms/web/controller/UserController.java
  src/test/java/edu/harvard/h2ms/controllers/EventControllerTests.java
  src/test/java/edu/harvard/h2ms/controllers/PasswordControllerTests.java
  src/test/java/edu/harvard/h2ms/controllers/UserControllerTests.java
Labels: Backend

#93 Frontend reports
  frontend/src/app/about/about.component.html
  frontend/src/app/app-routing.module.ts
  frontend/src/app/app.component.css
  frontend/src/app/app.module.ts
  frontend/src/app/card.css
  frontend/src/app/config/config.service.ts
  frontend/src/app/config/config.ts
  frontend/src/app/config/gloves-config.ts
  frontend/src/app/config/h2ms-config.ts
  frontend/src/app/config/local-gloves-config.ts
  frontend/src/app/config/local-h2ms-config.ts
  frontend/src/app/event/event.component.ts
  frontend/src/app/reports/reports-chart.service.ts
  frontend/src/app/reports/reports.component.css
  frontend/src/app/reports/reports.component.html
  frontend/src/app/reports/reports.component.ts
  frontend/src/app/reports/reports.service.ts
  frontend/src/assets/images/backgrounds/h2ms-background.jpg
  frontend/src/assets/images/favicons/h2ms-favicon.ico
  frontend/src/index.html
Labels: Frontend, Integration

#103 Subscription-specific notification interval (Compliance warning 3)
  .gitignore
  src/main/java/edu/harvard/h2ms/domain/core/Notification.java
  src/main/java/edu/harvard/h2ms/service/report/NotificationServiceImpl.java
  src/main/java/edu/harvard/h2ms/web/controller/NotificationController.java
  src/test/java/edu/harvard/h2ms/controllers/NotificationControllerTests.java
Labels: Backend

#104 Trends e-mail reporting
  src/main/java/edu/harvard/h2ms/repository/EventRepository.java
  src/main/java/edu/harvard/h2ms/repository/QuestionRepository.java
  src/main/java/edu/harvard/h2ms/seeders/ComplianceNotificationSeeder.java
  src/main/java/edu/harvard/h2ms/service/EventService.java
  src/main/java/edu/harvard/h2ms/service/EventServiceImpl.java
  src/main/java/edu/harvard/h2ms/service/report/AbstractReportWorkerComplianceTrend.java
  src/main/java/edu/harvard/h2ms/service/report/AbstractReportWorkerComplianceWarning.java
  src/main/java/edu/harvard/h2ms/service/report/ReportWorkerComplianceTrendMonthly.java
  src/main/java/edu/harvard/h2ms/service/report/ReportWorkerComplianceTrendWeekly.java
  src/test/java/edu/harvard/h2ms/service/EventServiceTests.java
Labels: Backend
